.card {
  padding: 0;
  background-color: #FDFDFD;
}

.card__image {
  margin-top: 14px;
  width: 364px;
  height: 203px;
}

.card__element {
  display: flex;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin: 14px auto 0 14px;
}

.card__button {
  margin: 19px 14px 0 auto;
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  border-radius: 36px;
  transition: opacity .2s linear;
}

.card__button:hover {
  opacity: .6;
  cursor: pointer;
}

.card__button_inactive {
  background: #f9f9f9 url(../../images/icon-saved-inactive.svg) center no-repeat;
}

.card__button_active {
  background: #f9f9f9 url(../../images/icon-saved-active.svg) center no-repeat;
}

.card__button_delete {
  width: 30px;
  height: 30px;
  background: #f9f9f9 url(../../images/icon-delete.svg) center no-repeat;
}

.card__duration {
  margin: 9px auto 0 14px;
  color: #A0A0A0;
  font-size: 11px;
  line-height: 13px;
}

@media screen and (max-width: 800px) {
  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__title {
    max-width: 290px;
  }
}

@media screen and (max-width: 540px) {
  .card__title {
    font-size: 12px;
    line-height: 17px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }
}