.search {
  padding: 57px 88px 0;
}

.search__box {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content,
      max-content);
  grid-column: 1/4;
  grid-row: 1/2;
  align-items: center;
  min-height: 72px;
  min-width: 100%;
  background: #F9F9F9;
  box-shadow: 0px 3px 14px #F9F9F9;
  border-radius: 9px;
}

.search__form {
  display: contents;
}

.search__icon {
  width: 34px;
  height: 34px;
  background: url("../../images/Find.svg") center no-repeat;
}

.search__input {
  font-size: 18px;
  line-height: 20px;
  background-color: #F9F9F9;
  color: #8b8b8b;
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 72px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.search__input:focus {
  width: 90%;
  outline: 1px solid #F9F9F9;
  border-radius: 9px;
  background-color: #2be080;
}


.search__button {
  background: url(../../images/button-search.svg) center no-repeat;
  border: none;
  width: 80px;
  height: 34px;
  cursor: pointer;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-right: 30px;
}

.search__button:hover {
  opacity: 0.6;
}

.search__border-bottom {
  padding-bottom: 70px;
  border-bottom: 1px solid #E8E8E8;
  ;
}

.search__toggle {
  display: flex;
  align-items: center;
  border-left: 1px solid #CBCBCB;
  min-height: 40px;
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 10px 10px 10px 29px;
}

.search__tumbler {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  filter: drop-shadow(0 2px 2px white);
  cursor: pointer;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  inset: 0;
  background-color: #2be080;
  border-radius: 16px;
  transition: .6s;
  transform: scale(-1, -1);
}

.search__slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  border: 1px solid #2be080;
  border-radius: 50%;
  background-color: white;
}

.search__checkbox:checked+.search__slider {
  background-color: white;
  border: 1px solid #2be080;
}

.search__checkbox:checked+.search__slider::before {
  transform: translateX(16px);
  background-color: #2be080;
}

.search__films {
  font-size: 13px;
  line-height: 18px;
  color: black;
  margin: 0 30px 0 14px;
}

@media (max-width: 1023px) {
  .search {
    padding: 80px 30px 10px;
  }

  .search__input {
    min-width: 338px;
  }

  .search__toggle {
    padding-left: 19px;
  }

  .search__films {
    margin: 0 20px 0 15px;
  }
}


@media (max-width: 767px) {
  .search {
    padding: 80px 10px 10px;
    display: flex;
    flex-direction: column;
  }

  .search__box {
    display: block;
    background: none;
    box-shadow: none;
  }

  .search__form {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content,
        max-content);
    align-items: center;
    background: #F9F9F9;
    box-shadow: 0px 3px 14px #F9F9F9;
    border-radius: 9px;
  }

  .search__icon {
    display: none;
  }

  .search__input {
    margin: 0 auto 0 19px;
    min-width: 189px;
  }

  .search__border-bottom {
    padding-bottom: 45px;
    border-bottom: 1px solid #E8E8E8;
  }

  .search__toggle {
    padding: 0;
    border: none;
    margin: 46px auto 0;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: center;
  }
}